a.nav-link.active {
    background-color: #5bc0de
}

.bg-warning.thumbnail:hover {
    background-color: orange !important;
    font-weight: bold;
}

.bg-success.thumbnail:hover {
    background-color: green !important;
    font-weight: bold;
}

a {
    cursor: pointer;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover~li {
    color: #ffd700;
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.rating-list2 li {
    float: right;
    color: yellow;
    padding: 10px 5px;
}

.rating-list2 {
    display: inline-block;
    list-style: none;
}