<nav>
    <div class="nav nav-tabs mt-5" id="nav-tab" role="tablist">
        <a [className]="this.toReview ? 'nav-item nav-link active' : 'nav-item nav-link'" id="nav-articles-under-review-tab" data-toggle="tab"
        role="tab" aria-controls="nav-articles-under-review" aria-selected="true"
            (click)="displayToReview()">Articles under review <span class="badge badge-light">{{this.articlesForReview.length}}</span></a>
        <a [className]="this.reviewed ? 'nav-item nav-link active' : 'nav-item nav-link'" (click)="displayReviewed()" id="nav-reviewed-articles-tab" data-toggle="tab"
        role="tab" aria-controls="nav-reviewed-articles"
            aria-selected="false">Reviewed articles<span class="badge badge-light">{{this.articlesReviewed.length}}</span></a>
    </div>
</nav>
<div *ngIf="!articleSelected" class="tab-content mt-5" id="nav-tabContent">
    <div *ngIf="toReview" class="tab-pane fade show active" id="nav-articles-under-review" role="tabpanel"
        aria-labelledby="nav-articles-under-review-tab">
        <div *ngFor="let art of this.articlesForReview" class="card ml-5 mr-5 mt-3 bg-warning thumbnail">
            <a (click)="displayArticleForReview(art.id)">
                <div class="card-header ">
                    <div class="float-left">
                        <h4>{{art.title}}</h4>
                    </div>
                    <div class="float-right">
                        <p class="text-right">Article under review</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <div class="card-body bg-light">
                <p class="card-text">{{art.summary}}</p>
                <p class="card-text"><small class="text-muted">{{art.uploaded}}</small></p>
            </div>
        </div>
    </div>
    <div *ngIf="reviewed" class="tab-pane fade show active" id="nav-reviewed-articles" role="tabpanel" aria-labelledby="nav-reviewed-articles-tab">
        <div *ngFor="let art of this.articlesReviewed" class="tab-pane fade show active" id="nav-articles-under-review" role="tabpanel"
            aria-labelledby="nav-articles-under-review-tab">
            <div class="card ml-5 mr-5 mt-3 bg-success thumbnail">
                <a (click)="displayReviewedArticle(art.id)">
                    <div class="card-header">
                        <div class="float-left">
                            <h4>{{art.title}}</h4>
                        </div>
                        <div class="float-right">
                            <p class="text-right">Article reviewed</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="card-body bg-light">
                    <p class="card-text">{{art.summary}}</p>
                    <p class="card-text"><small class="text-muted">{{art.uploaded}}</small></p>
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="articleSelected && !selectedAlreadyReviewedArticle" class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="float-left">
                        <img src="../../assets/43716.jpg" style="width: 300px;">
                    </div>
                    <div class="float-right mt-5 mr-5">
                        <h3 class="card-title">{{this.articleSelectedDAO.title}}</h3>

                        <h3 class="card-title">{{this.articleSelectedDAO.author.name}} {{this.articleSelectedDAO.author.surname}}</h3>
                        <h4 class="card-subtitle mb-4 text-muted">7.6.2022</h4>
                        <button class="btn btn-primary">Download article</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="card-body">
                    <!--col-sm-5 col-md-4 col-lg-5-->
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ad quod veniam
                        adipisci ex! Ab repellat, modi cupiditate soluta ea quia tempora corporis in, praesentium
                        molestias laborum, distinctio nemo sunt! Ullam quisquam mollitia aut explicabo temporibus, fuga
                        harum, soluta vel culpa, accusantium ipsum at nam deserunt voluptatibus? Dolorum, fugiat
                        officia!</p>
                    <hr>
                    <h3 class="card-text font-weight-bold">Article review:</h3>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comments for the author...</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea2">Comments for the editor...</label>
                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                    </div>
                </div>
                <a href="/" class="btn btn-success w-25 mx-auto mb-3">Submit review</a>
            </div>
        </div>
    </div>
</div>

<div *ngIf="articleSelected && selectedAlreadyReviewedArticle" class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="float-left">
                        <img src="../../assets/43716.jpg" style="width: 300px;">
                    </div>
                    <div class="float-right mt-5 mr-5">
                        <h3 class="card-title">{{this.selectedAlreadyReviewedArticleDAO.title}}</h3>
                        <ul class="list-inline rating-list2">
                            <li *ngFor="let a of averageNot(this.selectedAlreadyReviewedArticleDAO.ratings)"><i class="fas fa-star fa-2x" style="color: lightgray"></i></li>
                            <li *ngFor="let a of average(this.selectedAlreadyReviewedArticleDAO.ratings)"><i class="fas fa-star fa-2x"></i></li>
                        </ul>

                        <h3 class="card-title">{{this.selectedAlreadyReviewedArticleDAO.author.name}} {{this.selectedAlreadyReviewedArticleDAO.author.surname}}</h3>
                        <h4 class="card-subtitle mb-4 text-muted">{{this.selectedAlreadyReviewedArticleDAO.uploaded}}</h4>
                        <button (click)="redirect(this.selectedAlreadyReviewedArticleDAO.link)" class="btn btn-primary">Download article</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="card-body">
                    <!--col-sm-5 col-md-4 col-lg-5-->
                    <p class="card-text">{{selectedAlreadyReviewedArticleDAO.summary}}</p>
                    <hr>
                    <h3 class="card-text font-weight-bold">Article review:</h3>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Comments for the author...</label>
                        <textarea disabled class="form-control" id="exampleFormControlTextarea1"
                            rows="5">{{selectedAlreadyReviewedArticleDAO.review.author_comments}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea2">Comments for the editor...</label>
                        <textarea disabled class="form-control" id="exampleFormControlTextarea2"
                            rows="5">{{selectedAlreadyReviewedArticleDAO.review.editor_comments}}</textarea>
                    </div>
                </div>
                <!--<a href="/" class="btn btn-success w-25 mx-auto mb-3">Revise review</a>-->
            </div>
        </div>
    </div>
</div>
