<div class="container">
    <div class="row mt-5">
        <div *ngFor="let art of articles" class="col-md-6 col-lg-4">
            <div class="card mb-4 bg-success thumbnail" (click)="redirect(art.link)">
                <a>
                    <div class="card-header">
                        <div class="float-left">
                            <h4>{{art.title}}</h4>
                        </div>
                        <div class="float-right">
                            <ul class="list-inline rating-list">
                              <li *ngFor="let a of averageNot(art.ratings)"><i class="fas fa-star not"></i></li>
                              <li *ngFor="let a of average(art.ratings)"><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="card-body bg-light">
                    <p class="card-text">{{art.summary}}</p>
                    <p class="card-text"><small class="text-muted">by {{art.author.name}} {{art.author.surname}}, {{art.uploaded}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
