<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 bg-success thumbnail">
                <a>
                    <div class="card-header">
                        <div class="float-left">
                            <h4>Article title</h4>
                        </div>
                        <div class="float-right">
                            <ul class="list-inline rating-list">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="card-body bg-light">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ducimus id. Voluptates quam est reprehenderit inventore rem eum quaerat rerum!</p>
                    <p class="card-text"><small class="text-muted">by John Doe</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 bg-success thumbnail">
                <a>
                    <div class="card-header">
                        <div class="float-left">
                            <h4>Article title</h4>
                        </div>
                        <div class="float-right">
                            <ul class="list-inline rating-list">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="card-body bg-light">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ducimus id. Voluptates quam est reprehenderit inventore rem eum quaerat rerum!</p>
                    <p class="card-text"><small class="text-muted">by John Doe</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 bg-success thumbnail">
                <a>
                    <div class="card-header">
                        <div class="float-left">
                            <h4>Article title</h4>
                        </div>
                        <div class="float-right">
                            <ul class="list-inline rating-list">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="card-body bg-light">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ducimus id. Voluptates quam est reprehenderit inventore rem eum quaerat rerum!</p>
                    <p class="card-text"><small class="text-muted">by John Doe</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 bg-success thumbnail">
                <a>
                    <div class="card-header">
                        <div class="float-left">
                            <h4>Article title</h4>
                        </div>
                        <div class="float-right">
                            <ul class="list-inline rating-list">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <div class="card-body bg-light">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ducimus id. Voluptates quam est reprehenderit inventore rem eum quaerat rerum!</p>
                    <p class="card-text"><small class="text-muted">by John Doe</small></p>
                </div>
            </div>
        </div>
    </div>
</div>