<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="float-left">
                        <img src="../../assets/43716.jpg" style="width: 300px;">
                    </div>
                    <div class="float-right mt-5 mr-5">
                        <h3 class="card-title">{{this.cur_user.name}} {{this.cur_user.surname}}</h3>
                        <h4 class="card-subtitle mb-4 text-muted">{{this.date | date: 'dd.MM.yyyy'}}</h4>
                    </div>
                    <div class="input-group mb-3">
                      </div>
                    <div class="clearfix"></div>
                </div>

                <form #articleSubmit="ngForm" class="card-body" (ngSubmit)="onSubmitClick(articleSubmit.value)"> <!--col-sm-5 col-md-4 col-lg-5-->
                  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                  <div class="input-group-prepend mb-3">
                    <div style="margin-top: 30px">
                      <label for="inputGroupFile01" class="form-label">Choose the pdf:</label>
                      <input name="file" type="file" class="form-control" id="inputGroupFile01" accept="application/pdf" ngModel>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="article_name" class="form-label">Article title:</label>
                    <div class="form-group">
                      <input name="title" id="article_name" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" ngModel>
                    </div>
                  </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Article summary:</label>
                        <textarea name="summary" class="form-control" id="exampleFormControlTextarea1" rows="5" ngModel></textarea>
                      </div>
                  <button type="submit" value="submit" class="btn btn-success mx-auto">Submit article</button>
                </form>
              </div>
        </div>
    </div>
</div>


