<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="float-left">
                        <img src="../../assets/43716.jpg" style="width: 300px;">
                    </div>
                    <div class="float-right mt-5 mr-5">
                        <h3 class="card-title">John Doe</h3>
                        <h4 class="card-subtitle mb-4 text-muted">7.6.2022</h4>
                        <button class="btn btn-primary">Upload article</button>
                    </div>
                    <!--<div class="input-group mb-3">
                        <div class="input-group-prepend">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input bg-primary" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                        </div>
                      </div>-->
                    <div class="clearfix"></div>
                </div>
                
                <div class="card-body"> <!--col-sm-5 col-md-4 col-lg-5-->
                  <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Article name</span>
                      </div>
                      <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Article description:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                      </div>
                </div>
                <a href="/articles" class="btn btn-success w-25 mx-auto mb-3">Submit article</a>
              </div>
        </div>
    </div>
</div>


