<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect Account | Decentralized Journal</title>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='js/libraries/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/libraries/web3/dist/web3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/ethereumConnect.js')}}"></script>
</head>
<body>
<div class="connect-wrapper">
    <div class="border-round">
        <h1>Decentralized Journal</h1>
        <div class="separator-line"></div>
        <h2>Connect to Ethereum wallet with MetaMask</h2>
    </div>
    <button class="eth-connect">Connect</button>
</div>
</body>
</html>