<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{url_for('static', filename='js/libraries/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/libraries/web3/dist/web3.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/journal.js')}}"></script>
    <script src="{{url_for('static', filename='js/didUrlDelete.js')}}"></script>
    <script>
        const urlSpecifiedDid = "{{ did }}";
        const operation = "{{ operation }}";
    </script>
</head>